HOMESTACK_AGENT_ADDR=100.64.0.10:9443
HOMESTACK_AGENT_STATE_DIR=/home/REPLACE_WITH_USER/.local/state/homestack
HOMESTACK_AGENT_TLS_CERT=/home/REPLACE_WITH_USER/.config/homestack/tls/fullchain.pem
HOMESTACK_AGENT_TLS_KEY=/home/REPLACE_WITH_USER/.config/homestack/tls/privkey.pem
